/* Container for centering the form */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.back {
  border-radius: 8px;
  padding: 55px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.login-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.input {
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc; 
  background-color: transparent;
}

.input:focus {
  border-color: #007bff; 
  outline: none; 
}

.label {
  font-weight: bold;
}

.label-text {
  margin-right: 8px; 
}

.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-container .input {
  flex: 1;
}

.password-container svg {
  cursor: pointer;
  position: absolute;
  right: 10px;
  width: 24px; 
  height: 24px; 
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-group {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
}

.toggle-icon {
  cursor: pointer;
  margin-left: 8px;
}

.size-5 {
  width: 24px; 
  height: 24px;
  margin-left: -40px;
}

.size-6 {
  width: 24px; 
  height: 24px;
  margin-left: -40px; 
}


/* Hover for the submit button */
.submit-button:hover {
  background-color: #082c52;
}




